<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
                id="Ppwd_Base::Base"
                title="ProProducts"
                translate="title"
                module="Ppwd_Base"
                sortOrder="60"
                resource="Ppwd_Base::Base"
        />
        <add
                id="Ppwd_Base::Documentation"
                title="Documentation"
                translate="title"
                module="Ppwd_Base"
                action="adminhtml/system_config/edit/section/ppwd_extensions"
                sortOrder="0"
                parent="Ppwd_Base::Base"
                resource="Ppwd_Base::Documentation"
        />
        <add
                id="Ppwd_Base::Marketplace"
                title="PPWD Marketplace Extensions"
                module="Ppwd_Base"
                action="adminhtml/system_config/edit/section/ppwd_extensions"
                sortOrder="1"
                parent="Ppwd_Base::Base"
                resource="Ppwd_Base::Marketplace"
        />
    </menu>
</config>
